<% title 'Admin Main' %>

<% unless @users.blank? -%>
  <div>
    Number of users: <%= @users.size %><br />
    Number of games played: <%= @guesses.size %>
  </div>
  <table>
    <th>User Email</th><th>Games Played</th><th>Correct Guesses</th><th>Last Played</th>
    <% @users.each do |user| -%>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.guesses.size %></td>
        <td><%= user.guesses.where(:successful => true).size %></td>
        <td><%= user.guesses.last.created_at %></td>
      </tr>
    <% end -%>
  </table>
<% else  -%>
  <p>We have no users???</p>
<% end -%>
