<% title 'Viewed Listings' %>

<% unless @guesses.blank? -%>
  <div>
    Number of guesses: <%= @guesses.size %><br />
    Successful guesses: <%= @guesses.select(&:successful).size %>
  </div>

    <% @guesses.each do |guess| -%>
        <div class="thumbnail col-sm-6 col-md-4">
        <%= link_to image_tag(guess.image_url, :alt => "No photos for this house :("),"http://www.zoopla.co.uk/for-sale/details/#{guess.listing_id}" %>
        <h3><%= link_to number_to_currency(guess.listing_price, precision: 0, unit: "£"), "http://www.zoopla.co.uk/for-sale/details/#{guess.listing_id}" %></h3>
        <p><% if guess.successful == true %>
          <%= link_to "You Guessed Right", "http://www.zoopla.co.uk/for-sale/details/#{guess.listing_id}" %>
        <% else -%>
          <%= link_to "You Guessed Wrong", "http://www.zoopla.co.uk/for-sale/details/#{guess.listing_id}" %>
        <% end -%></p>
          <p><%= link_to guess.created_at.strftime("%d/%b/%Y"), "http://www.zoopla.co.uk/for-sale/details/#{guess.listing_id}" %></p>
        <p><%= link_to "Full Details", "http://www.zoopla.co.uk/for-sale/details/#{guess.listing_id}", class: "btn btn-primary" %></p>
    </div>
    <% end -%>

<% else  -%>
  <p>You have no viewed listings.</p>
<% end -%>