<% title 'Viewed Listings' %>

<% unless @guesses.blank? -%>
  <div>
    Number of guesses: <%= @guesses.size %><br />
    Successful guesses: <%= @guesses.select(&:successful).size %>
  </div>


    <% @guesses.each do |guess| -%>
        <div class="card-container">

          <div class="card">
          <div class="front thumbnail col-sm-12 col-md-4">
          <%= image_tag(guess.image_url, :alt => "No photos for this house :(") %>
          <h3><%= link_to number_to_currency(guess.listing_price, precision: 0, unit: "£"), "http://www.zoopla.co.uk/for-sale/details/#{guess.listing_id}" %></h3>
          <p>
            <% if guess.successful == true %>
              <%= link_to "You Guessed Right", "http://www.zoopla.co.uk/for-sale/details/#{guess.listing_id}" %>
            <% else -%>
              <%= link_to "You Guessed Wrong", "http://www.zoopla.co.uk/for-sale/details/#{guess.listing_id}" %>
            <% end -%>
          </p>
          <p><%= link_to guess.created_at.strftime("%d/%b/%Y"), "http://www.zoopla.co.uk/for-sale/details/#{guess.listing_id}" %></p>
        <p><%= link_to "Full Details", "http://www.zoopla.co.uk/for-sale/details/#{guess.listing_id}", class: "btn btn-primary" %></p>
        </div>
      <div class="back thumbnail col-md-6 col-lg-4">
          <h3>Quick Facts</h3>
          <p>Bedrooms: <%= guess.num_bedrooms %></p>
          <p>Bathrooms: <%= guess.num_bathrooms %></p>
          <p>Floors: <%= guess.num_floors %></p>
          <p>Receptions: <%= guess.num_recepts %></p>
          <p>Street: <%= guess.street_name %></p>
          <div>
            <p>Short Description:<br/></p><p class="normal"><%= guess.short_description %></p>
          </div>
      </div>

</div>

</div>
    <% end -%>

<% else  -%>
  <p>You have no viewed listings.</p>
<% end -%>