<% title 'How Much Is That House?' %>

<div class="card-container">
  <div class="card">
      <div class="front thumbnail col-md-6 col-lg-4">
        <%= image_tag @listing.image_url, alt: "No photos have been uploaded for this house :("  %>

          <div id="guess">
          <%= render @guesses %>
          <%= link_to 'View Details', "http://www.zoopla.co.uk/for-sale/details/#{@listing.listing_id}", class: 'btn btn-info', target: '_blank' %>
          </div>
      </div>
      <div class="back thumbnail col-md-6 col-lg-4">
          <h3>Quick Facts</h3>
          <p>Bedrooms: <%= @listing.num_bedrooms %></p>
          <p>Bathrooms: <%= @listing.num_bathrooms %></p>
          <p>Floors: <%= @listing.num_floors %></p>
          <p>Receptions: <%= @listing.num_recepts %></p>
          <p>Street: <%= @listing.street_name %></p>
          <div>
            <p>Short Description:<br/></p><p class="normal"><%= @listing.short_description.truncate(230) %></p>
          </div>
      </div>
  </div>
</div>
